* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Tajawal';
}

h1 {
	font-size: 1.4rem;
}

h3 {
	margin: 5px 0;
}

p {
	font-size: .90rem;
	margin-top: 10px;
	margin-left: 10px;
}

#nav-bar {
	list-style: none;
	position: fixed;
	width: 20%;
	height: 100%;
	border: 2px solid black;
	float: left;
	overflow: wrap;
	min-width: 100px;
}

.nav-head {
	padding: 10px;
}

.navigation > li a {
	text-decoration: none;
	font-size: 1rem;
	color: black;
}

.navigation > li {
	border-top: 1px solid black;
	padding: 10px;
}

.navigation:last-child {
	border-bottom: 1px solid black;
}

#main-doc {
	float: right;
	width: 80%;
	height: 100%;
	padding: 20px;
}

.main-section {
	padding: 10px;
}

.list {
	margin-left: 25px;
	font-size: .90rem;
	margin-top: 10px;
}

.list li {
	padding: 3px 0;
}

.code-example {
	display: block;
	white-space: pre-wrap;
	text-align: left;
	background-color: whitesmoke;
	margin: 15px 30px;
}

.output-box {
	margin: 15px 30px;
	border-left: 2px solid navy;
}

.img1 {
	width: 150px;
}

.img2 {
	width: 400px;
}

.img3 {
	width: 350px;
}

.img4 {
	width: 400px;
}

.img7 {
	width: 450px;
}

.images {
	width:100%;
}

@media screen and (max-width : 600px) {
	
	#nav-bar {
	list-style: none;
	position: static;
	width: 100%;
	height: 20vh;
	border: 2px solid black;
	float: none;
	overflow: scroll;
	min-width: 100px;
	background-color: white;
	}

	#main-doc {
	float: none;
	width: 100%;
	height: 80vh;
	padding: 20px;
	}
	
}






